@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Press+Start+2P&display=swap');

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(0deg, #3a3d40 0%, #181719 100%);
  font-size: 22px;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

.sub-press {
  color: red;
  font-style: italic;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
}